/*empieza vista celular*/
footer{
    padding: 0px 2%;
    text-align: center;
    background-color: $color2;
    color: $color1;
    
    .quienes-somos{
        text-align: center;
        margin-left: 15%;
    }
    
    .logo-metodo-pago{
        width: 4rem;
    }
    
    .logo-redes{
        width: 3rem;
    }
    
}
/*termina vista celular*/

/*empieza vista desktop*/
@media screen and (min-width: 992px){
    footer{
        .quienes-somos{
            margin-left: 0;
        }
    }
}