/*vista celular*/
.barra-nav{
    padding: 0;
    margin: 0;
    line-height: 100%;
    
    .container-nav{
        background-color: $color1;
        color: $color1;

        .nombre-sitio{
            display: flex;
            font-size: x-large;
            font-weight: 700;
            padding-left: 10px;

            color: $color3;
            transform: translate(0, 8px);
            .letra-nombre{
                color: $bg-boton;
            }
        }

        .navbar-toggler{
            border: none;
        }
        
        .secciones{
            .lista-secciones{
                display: inline-block;
                padding: 10px 0px;
                .nombres-secciones{
                    color: $color3 ;
                    font-weight: 700;
                }
            }
        }
    }
}
/*termina vista celular*/

/*vista desktop*/
@media screen and (min-width: 992px){
    .barra-nav{
        .container-nav{
            .nombre-sitio{
                font-size: xx-large;
                font-weight: 800;
            }

            .secciones{
                display: flex;
                justify-content: end;
                
                .lista-secciones{
                    padding-right: 20px;
                    
                    .nombres-secciones{
                        &:hover{
                            color: $bg-boton;
                        }
                    }
                }

                .nombres-secciones{
                    font-size: large;
                    font-weight: 700;
                }
            }
        }
    }
}