@mixin estilos-cartas {
        border: 1px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px;
        padding-bottom: 10px;
        margin: 10px;
        overflow: hidden;
        background-color: $color1;
        color: $color3;
        width: 8rem;
        font-size: 1rem;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
        cursor: default;
        transition: all 400ms ease;
}

@mixin flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@mixin titulos($bg1,$bg2){
    padding: 5px 0px;
    text-align: center;
    background-color: $bg1;
    color: $bg2;
    font-family: 'Staatliches', cursive;
}

@mixin botones-sumbit {
    width: 240px;
    padding: 6.5px;
    border: 1px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*empieza vista celular*/
.boton-comprar{
    margin-bottom: 4px;
    padding: 4px 8px;
    border: 0px;
    border-radius: 10px;
    background-color: $bg-boton-hover;
    color: $color1;
    &:hover{
        background-color: $bg-boton;
    }

    .boton-a{
        text-decoration: none;
        color: $color1;
    }
}

.flecha-icono{
    text-align: center;
    animation: bounce-in-top 2s 100ms infinite ;
    padding: 30px 0px 10px 0px;
    img{
        width: 40px;
    }
}


@keyframes bounce-in-top {
    0% {
      transform: translateY(-30px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-15px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-2px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
}

.img-productos{
    width: 2600px;
    max-width: 100%;
}

.productos{
    text-align: center;
}

.titulo-productos{
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #404a6c;
}

.consolas{
    margin: 18px 0px 0px 0px;
    text-align: center;
    background-color: $color2;
    color: $color1;

    .titulo-consola{
        @include titulos($color2,$color1);
    }

    .cartas-consolas{
        @include flex-row;

        .carta-consola{
            @include estilos-cartas;
            
            &:hover{
                box-shadow: 5px 5px 20px rgba(255, 254, 254, 0.4);
                transform: translateY(-1%);
            }
        }
    }
}    

.juegos{
    margin-bottom: 8px;
    text-align: center;
    background-color: $color2;
    color: $color1;

    .titulo-juegos{ 
        @include titulos($color2, $color1);
        padding: 0px
    }

    .titulo-juegos-recomendados{
        @include titulos($color2, $color1)
    }

    .cartas-juegos{
        @include flex-row;
    }

    .cartas-juegos{
        .cartas{
            @include estilos-cartas;
            
            &:hover{
                box-shadow: 5px 5px 20px rgba(255, 254, 254, 0.4);
                transform: translateY(-1%);
            }
        }

        .cartas{

            .img-elden-ring{
                padding: 10px 0px 25px 0px;
            }
            
            .img-borderlands{
                padding: 10px 0px 25px 0px;
            }
            
            .img-gta{
                padding: 15px 0px 25px 0px;
            }
            
            .img-valhalla{
                padding: 10px 0px 30px 0px;
            }
        }
    }
}

.accesorios{
    background-color: $color2;
    color: $color1;
    text-align: center;

    .titulo-accesorios{
        @include titulos($color2,$color1);
    }

    .cartas-accesorios{
        @include flex-row;
    }

    .cartas-accesorios{
        .carta-accesorios{
            @include estilos-cartas;
        }
            
        .carta-accesorios{
            .jostick-ps5{
                margin: 0px 0px 18px 0px;
            }
            
            .jostick-xbox{
                margin: 5px 0px 12px 0px;
            }
            &:hover{
                box-shadow: 5px 5px 20px rgba(255, 254, 254, 0.4);
                transform: translateY(-1%);
            }
        }
    }
}

.banner{
    margin: 10px 0px;
    padding-top: 60px;
    .img-consolas{
        width: 100%;
        max-width: 100%;
    }
}

.fondo-carrito{
    background: url("https://www.wallpapertip.com/wmimgs/56-566631_halo-wars-2-wallpaper-4k.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
}

.carrito{
    .titulo-carrito{
        padding-top: 20px;
        text-align: center;
    }
    
    .carrito-vacio{
        padding-top: 20px;
        text-align: center;
    }

    .añadir{
        text-align: center;
        padding: 165px 0px;

        .boton-añadir{
            margin: 20px 0px;
            background-color: $color1;
            border-radius: 60px;
            padding: 5px;
            transition: all 400ms ease-in-out;
        }
        
        /*hover del boton añadir*/
        .boton-añadir:hover{
            transform: translateY(-10%);
        }
    }
}

.contactos{
    .titulo-contacto{
        text-align: center;
        margin: 20px 0px 10px 0px;
    }

    .informacion{
        text-align: center;
    }
}

.flex-contacto{
    .mapa{
        iframe{
            width: 100%;
            height: 544px;
        }
    }
    
    .escribinos{
        background: url("https://www.wallpapertip.com/wmimgs/56-566631_halo-wars-2-wallpaper-4k.jpg") no-repeat fixed;
        background-position: center;
        padding: 124px 0px;
        
        .caja-escribinos{
            width: 350px;
            margin-left: auto;
            margin-right: auto;
            padding: 25px 0px;
            text-align: center;
            background-color: rgba(15, 17, 24, 0.459);
            border-radius: 10px;
            
            .form{
                width: 300px;
                padding: 15px 0px 0px 0px;
                margin-left: auto;
                margin-right: auto;
                .boton-enviar{
                    width: 320px;
                    padding: 6.5px;
                    border: 1px;
                    border-radius: 8px;
                    background-color: rgb(37, 37, 37);
                    color: $color1;
                    &:hover{
                        background-color: rgb(49, 49, 49);
                        color: rgba(240, 248, 255, 0.808);
                    }
                }
                .textarea{
                    width: 300px;
                    border-radius: 8px;
                }
            }
        }
    }
}


.fondo-registrate{
    background: url("https://www.wallpapertip.com/wmimgs/56-566631_halo-wars-2-wallpaper-4k.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
    .caja-registrate{
        display: flex;
        justify-content: center;
        .registrate{
            width: 300px;
            text-align: center;
            padding: 18px 30px 15px 30px;
            margin: 54px 0px;
            background-color: rgba(15, 17, 24, 0.459);
            border-radius: 12px;
            h1{
                padding-bottom: 5px;
            }
            .form{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .boton-enviar{
                    width: 240px;
                    padding: 6.5px;
                    border: 1px;
                    border-radius: 8px;
                    background-color: rgb(37, 37, 37);
                    color: $color1;
                    &:hover{
                        background-color: rgb(49, 49, 49);
                        color: rgba(240, 248, 255, 0.808);
                    }
                }
                .boton-iniciar1{
                    @include botones-sumbit;
                    background-color: $bg-boton;
                    color: $color1;
                    .img-logos{
                        width: 0.8em;
                        margin-right: 5px;
                    }
                    &:hover{
                        background-color: rgb(177, 40, 31);
                    }
                }
                .boton-iniciar2{
                    @include botones-sumbit;
                    background-color: #3b5998;
                    color: $color1;
                    .img-logos{
                        width: 0.99em;
                        margin-right: 5px;
                    }
                    &:hover{
                        background-color: rgba(47, 72, 124, 0.8)
                    }
                }
                .iniciar-sesion{
                    text-decoration: none;
                    color: $color1;
                    &:hover{
                        color: rgba(240, 248, 255, 0.6);
                    }
                }
            }
        }
    }
}
/*termina vista celular*/

/*empieza vista desktop*/
@media screen and (min-width: 992px){
    
    .flecha-icono{
        img{
            width: 2.5%;
        }
    }
    
    .juegos{
        .cartas-juegos{
            .cartas{
                width: 18rem;
                
                .img-elden-ring{
                    padding: 10px 0px 25px 0px;
                }
                
                .img-borderlands{
                    padding: 10px 0px 25px 0px;
                }
                
                .img-gta{
                    padding: 15px 0px 25px 0px;
                }
                
                .img-valhalla{
                    padding: 10px 0px 30px 0px;
                }
            }
        }
    }
    
    .img-productos{
        max-height: 735px;
    }
    
    .productos{
        .cartas-consolas{
            .carta-consola{
                width: 18rem;
            }
        }
    }

    .accesorios{
        .cartas-accesorios{
            .carta-accesorios{
                width: 18rem;
                
                .jostick-xbox, .jostick-ps5{
                    margin: 0;
                }
            }
        }
    }
    
    .fondo-carrito{
        background: url("https://www.wallpapertip.com/wmimgs/56-566631_halo-wars-2-wallpaper-4k.jpg") no-repeat fixed 0px -50px;
        background-size: cover;
    }

    .carrito{
        .añadir{
            padding: 230px 0px;
        }
    }

    .informacion{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }
    
    .flex-contacto{
        display: flex;
        .mapa{
            flex-grow: 0.52;
            iframe{
                height: 100%;
            }
        }
    
        .escribinos{
            background: url("https://www.wallpapertip.com/wmimgs/56-566631_halo-wars-2-wallpaper-4k.jpg") no-repeat fixed;
            background-size: cover;
            text-align: center;
            flex-grow: 0.48;
            
            .formulario{
                background-color: #404a6ccc;
                .form{
                    width: 228px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }   
    }

    .fondo-registrate{
        .caja-registrate{
            .registrate{
                width: 380px;
                margin: 150px 0px;
                .form{
                    .boton-enviar{
                        width: 320px;
                    }
                    .boton-iniciar1{
                        width: 320px;
                    }
                    .boton-iniciar2{
                        width: 320px;
                    }
                }
            }
        }
    }
}