@mixin estilos-cartas {
        border: 1px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px;
        padding-bottom: 10px;
        margin: 10px;
        overflow: hidden;
        background-color: $color1;
        color: $color3;
        width: 8rem;
        font-size: 1rem;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
        cursor: default;
        transition: all 400ms ease;
}

@mixin flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@mixin titulos($bg1,$bg2){
    padding: 5px 0px;
    text-align: center;
    background-color: $bg1;
    color: $bg2;
    font-family: 'Staatliches', cursive;
}

/*empieza vista celular*/
.boton-comprar{
    margin-bottom: 4px;
    padding: 4px 8px;
    border: 0px;
    border-radius: 10px;
    background-color: $bg-boton-hover;
    color: $color1;
    &:hover{
        background-color: $bg-boton;
    }

    .boton-a{
        text-decoration: none;
        color: $color1;
    }
}

.flecha-icono{
        animation: bounce-in-top 2s 100ms infinite ;
        padding: 25px 0px 20px 0px;
        img{
            width: 40px;
        }
}


@keyframes bounce-in-top {
    0% {
      transform: translateY(-30px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-15px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-2px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

.productos{
    padding-top: 10px;
    text-align: center;
}

.titulo-productos{
    border-bottom: 1px solid #404a6c;
}

.consolas{
    margin-bottom: 8px;
    text-align: center;
    background-color: $color2;
    color: $color1;

    .titulo-consola{
        @include titulos($color2,$color1);
    }

    .cartas-consolas{
        @include flex-row;

        .carta-consola{
            @include estilos-cartas;
            
            &:hover{
                box-shadow: 5px 5px 20px rgba(255, 254, 254, 0.4);
                transform: translateY(-1%);
            }
        }
    }
}    

.juegos{
    margin-bottom: 8px;
    text-align: center;
    background-color: $color2;
    color: $color1;

    .titulo-juegos{ 
        @include titulos($color2,$color1);
    }

    .cartas-juegos{
        @include flex-row;
    }

    .cartas-juegos{
        .cartas{
            @include estilos-cartas;
            
            &:hover{
                box-shadow: 5px 5px 20px rgba(255, 254, 254, 0.4);
                transform: translateY(-1%);
            }
        }

        .cartas{

            .img-elden-ring{
                padding: 10px 0px 25px 0px;
            }
            
            .img-borderlands{
                padding: 10px 0px 25px 0px;
            }
            
            .img-gta{
                padding: 15px 0px 25px 0px;
            }
            
            .img-valhalla{
                padding: 10px 0px 30px 0px;
            }
        }
    }
}

.accesorios{
    background-color: $color2;
    color: $color1;
    text-align: center;

    .titulo-accesorios{
        @include titulos($color2,$color1);
    }

    .cartas-accesorios{
        @include flex-row;
    }

    .cartas-accesorios{
        .carta-accesorios{
            @include estilos-cartas;
        }
            
        .carta-accesorios{
            .jostick-ps5{
                margin: 0px 0px 18px 0px;
            }
            
            .jostick-xbox{
                margin: 5px 0px 12px 0px;
            }
            &:hover{
                box-shadow: 5px 5px 20px rgba(255, 254, 254, 0.4);
                transform: translateY(-1%);
            }
        }
    }
}

.banner{
    margin: 10px 0px;
    padding-top: 60px;
    .img-consolas{
        width: 100%;
        max-width: 100%;
    }
}

.carrito{
    .titulo-carrito{
        padding-top: 20px;
        text-align: center;
    }
    
    .carrito-vacio{
        padding-top: 20px;
        text-align: center;
    }

    .añadir{
        text-align: center;
        padding: 240px 0px;

        .boton-añadir{
            margin: 20px 0px;
            background-color: $color1;
            border-radius: 60px;
            padding: 5px;
            transition: all 400ms ease-in-out;
        }
        
        /*hover del boton añadir*/
        .boton-añadir:hover{
            transform: translateY(-10%);
        }
    }
}

.contactos{
    .titulo-contacto{
        text-align: center;
        margin: 10px 0px;
    }

    .informacion{
        padding-left: 20px;
    }
}

.escribinos{
    text-align: center;
    padding-top: 15px;

    .form{
        width: 228px;
        margin-left: auto;
        margin-right: auto;
    }
}

.mapa{
    iframe{
        width: 100%;
    }
}

.fondo-carrito{
    background: url("https://www.wallpapertip.com/wmimgs/56-566631_halo-wars-2-wallpaper-4k.jpg") no-repeat fixed;
    background-size: cover;
    }

.fondo-registrate{
    display: flex;
    justify-content: center;
    background: url("https://www.wallpapertip.com/wmimgs/56-566631_halo-wars-2-wallpaper-4k.jpg") no-repeat fixed;
    background-size: cover;
    .registrate{
        text-align: center;
        padding: 30px 30px;
        margin: 200px 0px;
        background-color: rgba(24, 23, 31, 0.514);
        border-radius: 8px;
    
        .form{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/*termina vista celular*/

/*empieza vista desktop*/
@media screen and (min-width: 992px){
    .flecha-icono{
        img{
            width: 2.5%;
        }
    }

    .juegos{
        .cartas-juegos{
            .cartas{
                width: 18rem;
        
                .img-elden-ring{
                    padding: 10px 0px 25px 0px;
                }
                
                .img-borderlands{
                    padding: 10px 0px 25px 0px;
                }
                
                .img-gta{
                    padding: 15px 0px 25px 0px;
                }
                
                .img-valhalla{
                    padding: 10px 0px 30px 0px;
                }
            }
        }
    }
    
    .productos{
        .cartas-consolas{
            .carta-consola{
                width: 18rem;
            }
        }
    }

    .accesorios{
        .cartas-accesorios{
            .carta-accesorios{
                width: 18rem;
                
                .jostick-xbox, .jostick-ps5{
                    margin: 0;
                }
            }
        }
    }

    .informacion{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }

    .registrate{
        margin: 200px 0px;
    }
}
