*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "section1 section1 section1 section1"
    "section2 section2 section2 section2"
    "footer footer footer footer";
}

.header{
    margin: 0px;
    height: auto;
    grid-area: header;
    font-family: 'Cinzel', serif;
    background-color: rgba(29, 28, 28, 0.986);
    color: aliceblue;
}

.nombre a{
    color: rgb(241, 241, 240);
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
}

.nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
.nav ul li a:hover{
    color: rgb(221, 43, 43);
}

.section1{
    grid-area: section1;
    text-align: center;
}

.titulo{
    padding: 10px 0px;
}

.consolas{
    text-align: start;
    padding-left: 20px;
}

.cartas-consolas{
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.cartas-consolas div a img{
    width: 50%;
}

.cartas-juegos div a img{
    width: 75%;
}

.cartas{
    line-height: 25px;
}

.cartas h5{
    padding-top: 5px;
}

.cartas input{
    margin-bottom: 10px;
}

/*hover cartas*/
.cartas-consolas input:hover, .cartas-juegos input:hover{
    background-color: rgb(221, 43, 43);
    border: 1px solid ;
    border-radius: 5px;
}

.cartas{
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.cartas:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
    transform: translateY(-3%);
}

.cartas input{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgba(29, 28, 28, 0.986);
    color: aliceblue;
}

.god-of-war{
    width: 100%;
}

.section2{
    width: 100%;
    grid-area: section2;
    text-align: center;
}

.cartas-juegos{
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.juegos{
    text-align: start;
    padding-left: 20px;
}

.img-consolas{
    width: 100%;
    height: auto;
    height: 300px;
    padding-top: 5px;
}

.titulo-carrito{
    padding: 5px 0px;
}

.carrito{
    text-align: start;
}

.carrito h4{
    padding: 10px 20px;
}

.añadir{
    margin: 100px 0px;
    line-height: 40px;
}

/*hover añadir*/
.imagen-añadir:hover{
    transform: scale(1.5);    
}

.imagen-añadir{
    transition: all 1s;
}

.contacto{
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
}

.titulo-contactos{
    text-align: center;
}

.escribinos{
    background-color: rgb(211, 76, 76);
    color: rgb(238, 242, 247);
}

.escribinos form h2{
    padding-left: 20px;
}

.escribinos form{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: max-content;
}

.escribinos form div{
    text-align: left;
    padding: 0px 3%;
}

.escribinos form div input, .escribinos form div textarea{
    width: 97%;
    padding: 0.5em;
}

/*hover contacto y registrate*/
#boton-enviar:hover{
    background-color: rgba(53, 52, 52, 0.986);
    border-radius: 6px;
    color: aliceblue;
}

.registrate{
    background-color: rgb(211, 76, 76);
    color: aliceblue;
}

.titulo-registrate{
    text-align: center;
    padding: 10px 0px;
}

.registrate form{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: max-content;

}

.registrate form div{
    text-align: left;
    padding: 0px 3%;
}

.registrate form div input, .registrate form div textarea{
    width: 98%;
    padding: 0.5em;
}

/*hover inicio de secion*/
.iniciar-secion{
    text-decoration: none;
    color: aliceblue;
}

.iniciar-secion:hover{
    color: rgba(53, 52, 52, 0.986);
}

#boton-enviar{
    max-width: 30%;
    margin-left: 35%;
    border: 1px ;
    border-radius: 6px;
}

.registrate form, .escribinos form{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    font-family: 'Cinzel', serif;
    grid-area: footer;
    line-height: 20px;
    background: rgba(53, 52, 52, 0.986);
    color: aliceblue;
}

/*vista desktop*/
@media screen and (min-width: 900px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "section1 section1 section1 section1"
        "section2 section2 section2 section2"
        "footer footer footer footer";
    }
    .header{
        grid-area: header;
        padding: 5px 0px;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .nombre{
        display: inline-block;
        padding-left: 20px;
    }
    .nav ul{
        display: flex;
    }
    .nav ul li{
        padding-right: 50px;
        position: relative;
        top: 10px;
    }
    .section1{
        grid-area: section1;
    }
    .imagen-consolas2{
        display: none;
    }
    .section2{
        grid-area: section2;                
    }
    .footer{
        grid-area: footer;
    }
    footer{
        display: flex;
        justify-content: space-evenly;
    }
    
    .redes{
        text-align: center;
        padding: 0px;
    }
    
    .redes ul{
        padding: 0px;
        list-style-type: none;
        display: flex;
        flex-flow: row;
    }
    
    .metodos-de-pago{
        text-align: center;
        padding: 0px;
    }
    
    .metodos-de-pago ul{
        list-style-type: none;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }
    .metodos-de-pago ul li, .redes ul li{
        padding-left: 15px;
    }
    
}

/*vista teblet*/

@media screen and (min-width: 501px) and (max-width: 899px){
    .grid-container{
        display: grid;
        grid-template-areas:
        "header header"
        "section1 section1"
        "section2 section2"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    .header{
        grid-area: header;
        background-color: rgb(29, 28, 28, 0.986);
    }
    .nombre{
        text-align: center;
    }
    .nombre a{
        text-decoration: none;
        color: aliceblue;
    }
    .nav ul{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    .nav ul li{
        list-style-type: none;
        padding: 2% 0%;
    }
    .nav ul li a{
        text-decoration: none;
        color: aliceblue;
    }
    .section1{
        grid-area: section1;
    }
    .imagen-consolas2{
        display: none;
    }
    .section2{
        grid-area: section2;
    }
    .footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .metodos-de-pago, .redes{
       text-align: center;
    }

    .metodos-de-pago ul{
        list-style-type: none;
        display: flex;
    }
    
    .redes ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    .metodos-de-pago ul li, .redes ul li{
        padding-left: 15px;
    }
}

/*vista celular*/

@media screen and (max-width: 500px){
    .grid-container{
        max-width: 100%;
        font-size: 60%;
        display: grid;
        grid-template-areas:
        "header"
        "section1"
        "section2"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .header{
        grid-area: header;
        align-items: center;
        padding-top: 5px;
    }
    .nav ul{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    .nombre{
        text-align: center;
    }
    .nav ul li{
        list-style-type: none;
        padding: 2% 0%;
    }
    .section1{
        grid-area: section1;
    }
    .img-consolas{
        display: none;
    }
    .imagen-consolas2{
        max-width: 100%;
    }
    .section2{
        grid-area: section2;
   }
   .footer{
        grid-area: footer;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .metodos-de-pago, .redes{
       text-align: center;
   }

   .metodos-de-pago ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    }
    
    .redes ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    .imagen-footer{
        max-width: 50%;
    }

}